<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Exchange</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>
<body>
    <h1>Add Exchange</h1>
    <form action="/exchanges/add/" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Add</button>
    </form>
    <a href="/exchanges/"><button>Back to Exchanges</button></a>
</body>
</html>
