<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exchanges</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>
<body>
    <h1>Exchanges</h1>
    {% if not exchanges %}
        <p>No exchanges found.</p>
    {% else %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for row in exchanges %}
                <tr>
                    <td><a href="/exchanges/{{ row.id }}/">{{ row.id }}</a></td>
                    <td>{{row.name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table><br>
    {% endif %}<br>
    <a href="/exchanges/add/"><button>Add Exchange</button></a>
    <a href="/subscriptions/"><button>Subscriptions</button></a>
</body>
</html>